{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
<h3>Mon Panier</h3>
{% if totalQuantity > 0 %}
    <a href="{{ path('remove_cart') }}" title="Supprimer tous les articles" class="btn btn-outline-danger btn-sm float-right">
        <i class="bi bi-x"></i> 
        Réinitialiser mon panier
    </a>
{% endif %}

<p>Voici les articles que vous avez ajoutés</p>

<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Article</th>
            <th scope="col">Prix (unitaire)</th>
            <th class="text-center" scope="col">Quantité</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {% for item in cart %}
        <tr>
            <td class="align-middle">
                <img height="60px" src="/uploads/{{ item.product.image }}" alt="{{ item.product.name }}">
                {{item.product.name}}
            </td>
            <td class="align-middle">{{(item.product.price / 100)|number_format(2,',','.') }} €</td>
            <td class="text-center align-middle">
                <a title="Enlever 1 article" href="{{ path('decrease_item', {id:item.product.id}) }}"><i class="bi bi-dash"></i></a>
                {{ item.quantity }} 
                <a title="Ajouter 1 article" href="{{ path('add_to_cart', {id:item.product.id}) }}"><i class="bi bi-plus"></i></a>
            </td>
            <td class="align-middle">{{ (item.quantity * (item.product.price / 100))|number_format(2,',','.') }} €</td>
            <td class="align-middle"><a title="Supprimer tous les articles de cette ligne" href="{{ path('remove_cart_item', {id: item.product.id}) }}" class="text-danger"href=""><i class="bi bi-trash"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <th>Total</th>
        <td></td>
        <td class="text-center">  <small>x</small> {{ totalQuantity }}</td>
        <th>{{ (totalPrice / 100)|number_format(2,',','.') }} €</th>
    </tfoot>
</table>
<a class="mb-3 d-block" href="{{ path('product') }}">Continuez mes achats</a>
{% if totalQuantity > 0 %}
        <a href="{{ path('order')}}"title="Valider puis passer au paiement" class="btn btn-outline-success btn-block"></i> Valider mon panier</a>
{% else %}
        Votre panier est vide, remplissez le depuis la page <a href="{{ path('product') }}">produits</a>.
{% endif %}


{% endblock %}
