{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-3">
        <h3 class="text-center">Rechercher</h3>
        {{ form(form) }}
    </div>
    <div class="col-md-9">
            <h3 class="text-center">Nos Produits</h3>
        <div class="row">
            {% for product in products %}
                <div class="col-md-4">
                    <div class="product-item">
                        <a href="{{ path('product_show', {slug: product.slug}) }}"><img class="img-fluid" src="/uploads/{{product.image}}" alt="{{product.name}}"></a>
                        <h5 class="mt-2">{{ product.name}}</h5>
                        <span class="product-subtitle text-center">{{product.subtitle}}</span>
                        <span class="product-price text-center">{{(product.price / 100 )|number_format(2,',', '.')}} € </span>
                    </div>
                </div>
            {% endfor %}
        </div> 
    </div>
</div>
  
{% endblock %}
