{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <img class="img-fluid" src="/uploads/{{product.image}}" alt="{{product.name}}">
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{product.name}}</h3>
            <p>{{product.subtitle}}</p>
            <span class="product-price">{{(product.price / 100 )|number_format(2,',', '.')}} € </span>
            <hr>
            <p>{{product.description}}</p>
        <a href="{{ path('add_to_cart', {id: product.id}) }}"class="btn btn-outline-success">Ajouter au panier</a>
        </div>
    </div>   
{% endblock %}
