<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{{ path('home') }}">La Boot'Ique</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('product') }}">Produits</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('about') }}">Qui sommes-nous ?</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('contact') }}">Contact</a>
            </li>

        </ul>
        <ul class="navbar-nav">
            {% if app.user %}
                <li class="nav-item active">
                    <a class="nav-link fs-2" href="{{ path('account') }}">Mon compte <small class="text-secondary">({{ app.user.firstname}})</small></a>
                </li>
                
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>                
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('register') }}">Inscription</a>
                </li> 
                
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                </li>                   
            {% endif %}
            <li class="nav-item active">
                <a title="Panier" class="nav-link" href="{{ path('cart') }}"><i class="bi bi-cart3"></i></a>
            </li>
        </ul>
    </div>
</nav>
