<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Une boutique géniale, avec pleins d'articles géniaux et beau et tout...">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>{% block title %}La boot'ique{% endblock %}</title>

    <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('assets/css/carousel.css')}}" rel="stylesheet">
    <link href="{{asset('assets/css/style.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        {% include "_nav.html.twig" %}
    </header>

    <main class="mb-5" role="main">
        {% if carousel is defined %}
            {% include "_carousel.html.twig" %}
        {% else %}
            {% set margin = 'mt-5' %}
        {% endif %}
        <div class="container {{margin ?? 0}}">
            {% block body %}{% endblock %}
        </div>
    </main>
        <footer class="footer-custom">
            {% include "_footer.html.twig" %}
        </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="{{asset('assets/js/bootstrap.bundle.js')}}"></script>
</body>
</html>