{% extends 'base.html.twig' %}

{% block title %}Ma commande - La Boot'Ique{% endblock %}

{% block body %}
    <h2>Confirmation de votre commande</h2>
    <p>
        Bonjour {{order.user.firstname}} {{order.user.lastname}}, <br>
        Nous vous remercions de votre commande n° <b>{{order.reference}}</b>.<br>
        Une confirmation vient de vous être envoyé par mail. <br>
    </p>
    <hr>
    <p>
        Votre commande sera livrée par {{order.carrierName}} à l'adresse suivante: <br>
        {{order.delivery|raw}}
    </p>
    <hr>
    <p>
        Pour suive votre commande, rendez-vous dans votre <a href="{{ path('account_orders') }}">compte</a>.
    </p>
{% endblock %}